<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smpihsaniyahkotategal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMPIHSANIYAHKOTATEGAL">
        <activity
            android:name=".KarateActivity"
            android:exported="false" />
        <activity
            android:name=".FutsalActivity"
            android:exported="false" />
        <activity
            android:name=".PramukaActivity"
            android:exported="false" />
        <activity
            android:name=".LapanganbasketActivity"
            android:exported="false" />
        <activity
            android:name=".AlbumVaksinActivity"
            android:exported="false" />
        <activity
            android:name=".AlbumHutPgriActivity"
            android:exported="false" />
        <activity
            android:name=".AlbumKemahBudayaActivity"
            android:exported="false" />
        <activity
            android:name=".AlbumPerpisahanActivity"
            android:exported="false" />
        <activity
            android:name=".AlbumOsisActivity"
            android:exported="false" />
        <activity
            android:name=".KelasActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".EkskulActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".guruActivity"
            android:exported="false" />
        <activity
            android:name=".GaleriActivity"
            android:exported="false" />
        <activity
            android:name=".PerpusActivity"
            android:exported="false" />
        <activity
            android:name=".FasilitasActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>